/* Top level declarations */
html {
    height: 100%;
    overflow: hidden;
    font-family: Arial;
}

div {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    height: 100%;
    background-color: cornflowerblue;
}

/* Page declarations */
.main-label {
    color: white;
    text-shadow: 1px 1px #000;
    width:99%;
}
    .main-label .mode-select {
        float: right;
        font-size: 16px;
        line-height: 38px;
    }
    
    .disable-select {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

.descriptor {
    font-weight: bold;
    min-width: 70px;
    display: inline-block;
}

#outer {
    width: 79%;
    height: 800px;
    overflow: hidden;
    border: 2px solid black;
    display: inline-block;
    background-color: black;
    position: relative;
    border-radius: 15px;
}
    #outer #canvas_holder {
        overflow: hidden;
        position:absolute;
        top:0;
        left:0;
        z-index:1;
    }
        #outer #canvas_holder canvas {
            background-color: black;
        }

     #info_holder {
        position: absolute;
        height: 120px;
        top: 730px;
        z-index: 2;
        left: 20px;
    }
        #outer #info_holder .node-info {
            background-color: white;
            border: 1px solid black;
            box-shadow: 3px 3px 3px black;
        }
            #outer #info_holder .node-info h4 {
                text-shadow: 1px 1px #000;
                margin: 0;
                padding: 5px 40px;
                text-align: center;
                background-color: cornflowerblue;
                color: white;
            }
            #outer #info_holder .node-info ul {
                padding: 10px 20px;
                margin: 0;
                list-style-type: none;
            }

    #outer #mouse_coords {
        z-index: 2;
        background-color: black;
        position: fixed;
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 5px;
        top: 100px;
        left: 20px;
        color: white;
    }

#sidebar {
    background-color: white;
    width: 20%;
    height: 800px;
    overflow-y: scroll;
    border: 2px solid black;
    display: inline-block;
    font-size: 11px;
}
    #sidebar #scale_box {
        padding: 0 10px;
    }
        #sidebar #scale_box h4 {
            margin: 10px 0;
        }
        #sidebar #scale_box ul {
            list-style-type: none;
            padding: 0;
        }
        #sidebar #scale_box #cell_grid_input {
            width: 33px;
            padding: 0;
            margin-left: 30px;
            text-align: center;
            height: 19px
        }
        #sidebar #scale_box .map-settings-check {
            vertical-align: sub;
            margin-right:10px;
        }
            #sidebar #scale_box .man-show-grid {
                margin-top: 10px;
                margin-left:10px;
            }
            #sidebar #scale_box .man-show-grid div {
                padding: 5px 0 0 0;
                width: 35%;
                display: inline-block;
            }

    #sidebar #types_box {
            padding: 0 10px;
        }
        #sidebar #types_box h4 {
            margin: 10px 0;
        }

.multi-select-type {
    padding: 5px 0 10px 0;
    font-size: 12px;
}
.multi-select-type a{
    padding: 0 5px;
    font-weight:bold;
    text-decoration:none;
    color:black;
}
.multi-select-biome {
    padding: 5px 0 10px 0;
    font-size: 12px;
}

    .multi-select-biome a {
        padding: 0 5px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
    #sidebar #biomes_box {
        padding: 0 10px;
    }
        #sidebar #biomes_box h4 {
            margin: 10px 0;
        }
        #sidebar #biomes_box #biome_filters {
            height: 153px;
            overflow: hidden;
        }
        #sidebar #biomes_box #show_more_biomes {
            padding: 5px 0;
            text-align: center;
        }
        .more-link {
            font-weight:bold;
            text-decoration:none;
        }

    #sidebar #depth_box {
    padding: 0 10px;
}
        #sidebar #depth_box h4 {
            margin: 10px 0;
        }
        #sidebar #depth_box .slider {
            margin-left: 20px;
            width: 150px;
            vertical-align:middle;
        }
        #sidebar #depth_box .man-input {
            width: 40px;
            vertical-align: top;
            text-align: center;
        }

.max-depth-box {
    width: 300px;
    margin: 10px auto 0 auto;
}



    #sidebar .bottom-anchor {
        padding: 20px 0;
    }

.filter-row {
    width: 49%;
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;
    background: dimgray;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1px 1px #000;
    margin-bottom: 2px;
}
    .filter-row:hover {
        background: skyblue;
    }
    .filter-row input {
        margin-right: 10px;
        vertical-align: sub;
    }
    .filter-row label {
        cursor: pointer;
    }

/* Animations */
.expand {
    animation-name:expanding;
    animation-duration:400ms;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}
.collapse {
    animation-name: collapsing;
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Key Frames */
@keyframes expanding{
    from{ height:153px; }
    to { height: 649px; }
}
@keyframes collapsing {
    from { height: 649px; }
    to { height: 153px; }
}

/* Media Queries */
@media (max-width: 1200px) {
    .filter-row {
        width: 99%;
    }
}